<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.moa.crydev.helpapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ed8c4d139e37a0b5415c9c4c5fcbd72e9fdcf0d6" />

        <activity android:name=".activities.LauncherActivity">
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/main_activity_label"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.LauncherActivity" />
        <activity
            android:name=".activities.DetailActivity"
            android:label="@string/detail_activity_label"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.FacebookActivity"
            android:label="@string/facebook_activity_label"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.TwitterActivity"
            android:label="Twitter"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>